body{
 margin: 0 !important;
 padding: 0 !important;
 box-sizing: border-box !important;
}

a{
	text-decoration: none !important;
}

ul {
    list-style-type: none;
}

#sidebar {
	background-color: #856EC6 !important;
  }

#sidebar a{
 color:white !important;
}

body{
	background-color: #EFEFEF !important;
}

#open_sidebar {
	width: fit-content !important;
  }

.editable input{
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

.editable input:focus{
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

