{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row min-vh-100">
<div id="sidebar" class="col-2">
	<div id="close_sidebar" class="text-end">
		<svg xmlns="http://www.w3.org/2000/svg" height="1.8em" viewBox="0 0 512 512">
			<path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/>
		</svg>
	</div>
	<div>
		<ul>
			<li><a href="#">Oppurtunity</a></li>
			<li><a href="#">Lead</a></li>
			<li><a href="#">Deal</a></li>
		</ul>	
	</div>
	
</div>
<main class="col">
	<div id="open_sidebar" class="d-none">
		<svg xmlns="http://www.w3.org/2000/svg" height="1.6em" viewBox="0 0 448 512">
			<path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/>
		</svg>
	</div>

	<h1>Home</h1>
	<a href="{% url 'logout' %}">Logout</a> <br>
	<a href="{% url 'registration' %}">Add User</a>
</main>

</div>

{% endblock %} 

{% block script %}
    
    <script>
		$(document).ready(function(){
			$("#close_sidebar").click(function() {
				$("#sidebar").fadeOut(700, function() {
					$("#open_sidebar").toggleClass("d-none");
				  });				
				
			  });

			  $("#open_sidebar").click(function() {
				$("#sidebar").fadeIn(700);
				$("#open_sidebar").toggleClass("d-none");			
			  });
		})
       
    </script>
{% endblock %}