{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	

	{% include 'user/create.html' %}

	<div class="bg-light p-4 rounded m-5">

		<div class="d-flex">

			<h3 class="">User List</h3>

			<button type="button" class="btn btn-secondary ms-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
				<svg xmlns="http://www.w3.org/2000/svg"  height="1em" viewBox="0 0 448 512" style="fill: white;">
					<path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
				</svg> <span>Add User</span>  
			</button>

		</div>

		
	<div  class="table-responsive my-4">
		<table id="data-table"  class="display table">
			<thead>
			  <tr>
				<th >Name</th>
				<th >Type</th>
				<th >Department</th>
				<th >Action</th>
			  </tr>
			</thead>
			<tbody>
				{% for user_profile in user_profiles %}
					<tr>
						<td>{{user_profile.full_name}}</td>
						<td> {% if user_profile.types == "admin" %}
								Admin
							{% elif user_profile.types == "manager" %}
								Manager
							{% elif user_profile.types == "agent" %}
								Agent
							{% elif user_profile.types == "member" %}
								Member
							{% endif %}
							
						</td>
						<td>{{user_profile.department}}</td>
						<td><a href="#">view details</a></td>
				  	</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>

	</div>

	
	  

	  
		
{% endblock %}
	 
	
